// Colors
/// Primary
$danger-color: #EA5353FF;
$success-color: #45D3D3FF;
$warning-color: #FCAF4AFF;
$info-color: #549EF2FF;

///Neutral
$base-text-color: #4C4E61FF;
$base-paragraph_color: #A3A5AEFF;
$base-background-color: #FAFAFAFF;


// Typography
$body-font: 'Poppins', sans-serif;

// size
$default-font-size: 15px;
$font-weight-extra-light: 200;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
