// Colors
/// Primary
$primary-red-color: #EA5353FF;
$primary-cyan-color: #45D3D3FF;
$primary-orange-color: #FCAF4AFF;
$primary-blue-color: #549EF2FF;

///Neutral
$neutral-very-dark-blue: #4C4E61FF;
$neutral-grayish-blue: #A3A5AEFF;
$neutral-very-light-gray: #FAFAFAFF;


// Typography
$body-font: 'Poppins', sans-serif;

// size
$default-font-size: 15px;
$font-weight-extra-light: 200;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
